* text=auto !eol
action/statistiques_archiver.php -text
base/delete_referers.php -text
base/delete_stats.php -text
base/stats.php -text
/engines-list.txt -text
exec/base_delete_referers.php -text
exec/base_delete_stats.php -text
formulaires/configurer_compteur.html -text
formulaires/configurer_compteur.php -text
genie/popularites.php -text
genie/visites.php -text
inc/referenceurs.php -text
inc/statistiques.php -text
inc/stats_referers_to_array.php -text
inc/stats_visites_to_array.php -text
javascript/excanvas.js -text
javascript/jquery.flot.js -text
javascript/jquery.flot.selection.js -text
javascript/jquery.flot.time.js -text
javascript/jquery.tflot.js -text
lang/paquet-stats.xml -text
lang/paquet-stats_br.php -text
lang/paquet-stats_de.php -text
lang/paquet-stats_eo.php -text
lang/paquet-stats_es.php -text
lang/paquet-stats_fa.php -text
lang/paquet-stats_fr_fem.php -text
lang/paquet-stats_fr_tu.php -text
lang/paquet-stats_it.php -text
lang/paquet-stats_lb.php -text
lang/paquet-stats_nl.php -text
lang/paquet-stats_oc_ni_mis.php -text
lang/paquet-stats_pt.php -text
lang/paquet-stats_pt_br.php -text
lang/paquet-stats_ru.php -text
lang/paquet-stats_sk.php -text
lang/paquet-stats_uk.php -text
lang/statistiques.xml -text
lang/statistiques_ar.php -text
lang/statistiques_ast.php -text
lang/statistiques_ay.php -text
lang/statistiques_bg.php -text
lang/statistiques_br.php -text
lang/statistiques_bs.php -text
lang/statistiques_ca.php -text
lang/statistiques_co.php -text
lang/statistiques_cpf.php -text
lang/statistiques_cpf_hat.php -text
lang/statistiques_cs.php -text
lang/statistiques_da.php -text
lang/statistiques_de.php -text
lang/statistiques_el.php -text
lang/statistiques_en.php -text
lang/statistiques_en_hx.php -text
lang/statistiques_eo.php -text
lang/statistiques_es.php -text
lang/statistiques_eu.php -text
lang/statistiques_fa.php -text
lang/statistiques_fi.php -text
lang/statistiques_fon.php -text
lang/statistiques_fr.php -text
lang/statistiques_fr_fem.php -text
lang/statistiques_fr_tu.php -text
lang/statistiques_gl.php -text
lang/statistiques_hac.php -text
lang/statistiques_he.php -text
lang/statistiques_hu.php -text
lang/statistiques_id.php -text
lang/statistiques_is.php -text
lang/statistiques_it.php -text
lang/statistiques_it_fem.php -text
lang/statistiques_ja.php -text
lang/statistiques_km.php -text
lang/statistiques_lb.php -text
lang/statistiques_my.php -text
lang/statistiques_nb.php -text
lang/statistiques_nl.php -text
lang/statistiques_no.php -text
lang/statistiques_oc_auv.php -text
lang/statistiques_oc_gsc.php -text
lang/statistiques_oc_lms.php -text
lang/statistiques_oc_lnc.php -text
lang/statistiques_oc_ni.php -text
lang/statistiques_oc_ni_la.php -text
lang/statistiques_oc_ni_mis.php -text
lang/statistiques_oc_prv.php -text
lang/statistiques_oc_va.php -text
lang/statistiques_pl.php -text
lang/statistiques_pt.php -text
lang/statistiques_pt_br.php -text
lang/statistiques_ro.php -text
lang/statistiques_ru.php -text
lang/statistiques_sk.php -text
lang/statistiques_sv.php -text
lang/statistiques_tr.php -text
lang/statistiques_uk.php -text
lang/statistiques_vi.php -text
lang/statistiques_zh.php -text
prive/bouton/statistiques.html -text
prive/squelettes/contenu/stats_archiver.html -text
prive/squelettes/contenu/stats_lang.html -text
prive/squelettes/contenu/stats_lang_fonctions.php -text
prive/squelettes/contenu/stats_referers.html -text
prive/squelettes/contenu/stats_repartition.html -text
prive/squelettes/contenu/stats_repartition_fonctions.php -text
prive/squelettes/contenu/stats_visites.html -text
prive/squelettes/inclure/admin_effacer_stats.html -text
prive/squelettes/inclure/admin_stats_archiver.html -text
prive/squelettes/inclure/stats-visites-data.html -text
prive/squelettes/inclure/stats-visites-data_fonctions.php -text
prive/squelettes/inclure/stats-visites-jours.html -text
prive/squelettes/inclure/stats-visites-jours_fonctions.php -text
prive/squelettes/inclure/stats-visites-mois.html -text
prive/squelettes/inclure/stats-visites-mois_fonctions.php -text
prive/squelettes/inclure/stats-visites-populaires.html -text
prive/squelettes/navigation/stats_archiver.html -text
prive/squelettes/top/stats_lang.html -text
prive/squelettes/top/stats_referers.html -text
prive/squelettes/top/stats_repartition.html -text
prive/squelettes/top/stats_visites.html -text
prive/stats/visites.html -text
prive/style_prive_plugin_stats.html -text
prive/themes/spip/images/licence.txt -text
prive/themes/spip/images/referers-16.png -text
prive/themes/spip/images/referers-24.png -text
prive/themes/spip/images/referers-32.png -text
prive/themes/spip/images/repartition-16.png -text
prive/themes/spip/images/repartition-24.png -text
prive/themes/spip/images/repartition-32.png -text
prive/themes/spip/images/statistique-16.png -text
prive/themes/spip/images/statistique-24.png -text
prive/themes/spip/images/statistique-32.png -text
prive/themes/spip/images/zoomin-16.png -text
prive/themes/spip/images/zoomin-24.png -text
prive/themes/spip/images/zoomin-32.png -text
prive/themes/spip/images/zoomout-16.png -text
prive/themes/spip/images/zoomout-24.png -text
prive/themes/spip/images/zoomout-32.png -text
prive/transmettre/statistiques.html -text
public/stats.php -text
/stats_administrations.php -text
/stats_autoriser.php -text
/stats_ieconfig.php -text
/stats_pipelines.php -text
