* text=auto !eol
base/delete_stats.php -text
base/stats.php -text
base/stats_upgrade.php -text
/engines-list.txt -text
exec/base_delete_stats.php -text
exec/statistiques_lang.php -text
exec/statistiques_referers.php -text
exec/statistiques_repartition.php -text
formulaires/configurer_compteur.html -text
formulaires/configurer_compteur.php -text
genie/popularites.php -text
genie/visites.php -text
inc/referenceurs.php -text
inc/statistiques.php -text
inc/stats_referers_to_array.php -text
inc/stats_visites_to_array.php -text
javascript/excanvas.js -text
javascript/jquery.flot.js -text
javascript/jquery.tflot.js -text
/plugin.xml -text
prive/bouton/statistiques.html -text
prive/images/statistiques-48.png -text
prive/squelettes/contenu/stats_referers.html -text
prive/squelettes/contenu/stats_referers_fonctions.php -text
prive/squelettes/contenu/stats_visites.html -text
prive/squelettes/inclure/admin_effacer_stats.html -text
prive/squelettes/inclure/stats-visites-data.html -text
prive/squelettes/inclure/stats-visites-data_fonctions.php -text
prive/squelettes/top/stats_referers.html -text
prive/squelettes/top/stats_visites.html -text
prive/stats/visites.html -text
prive/style_prive_plugin_stats.html -text
prive/themes/spip/images/statistique-16.png -text
prive/themes/spip/images/statistique-24.png -text
prive/transmettre/statistiques.html -text
public/stats.php -text
/stats_autoriser.php -text
/stats_pipelines.php -text
